<div class="footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top border-secondary bg-black text-white px-4">

    <p class="col-md-4 mb-0 text-white-50">© 2026 Company, Inc</p>

    <img id="img-footer" src="assets/fast.png">


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="index.html" class="nav-link px-2 text-white-50 text-white-hover">Home</a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 text-white-50 text-white-hover">Redes</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white-50 text-white-hover">Valoracion</a></li>
    </ul>
  </footer>
</div>
